<ion-list>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="item.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Valor</ion-label>
    <ion-input type="email" [(ngModel)]="item.valor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quantidade</ion-label>
    <ion-input type="tel" [(ngModel)]="item.quantidade"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="this.save.emit()">
    <ion-icon slot="start" name="save"></ion-icon>
    Salvar
  </ion-button>
</ion-list>