<ion-content>
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button>
        </ion-button>
      </ion-buttons>
        <ion-title size= "auto"> Criar Festa </ion-title>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-menu contentId="menu-content" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-router-link href="/home" class="color">Home</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="calendar"></ion-icon>
          <ion-router-link href="/home/meus-eventos" class="color">Meus eventos</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="people-circle"></ion-icon>
          <ion-router-link href="/home/parceiros" class="color">Parceiros</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person-circle"></ion-icon>
          <ion-router-link href="/home/meu-perfil" class="color">Meu Perfil</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="receipt"></ion-icon>
          <ion-router-link href="/home/lista-de-amigos" class="color">Lista de amigos</ion-router-link>
        </ion-item>    
      </ion-list>
    </ion-content>
  </ion-menu>
  

<ion-content>
<ion-router-outlet id="menu-content"></ion-router-outlet>  
<div>
<ion-item>
  <ion-label position="floating">Título do evento</ion-label>
  <ion-input type="text" placeholder="Resenha" maxlength=50 minlength=20></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Responssavel pelo evento </ion-label>
  <ion-input type="text" placeholder="Jão Silva" maxlength=30 minlength=15></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">E-mail de contato</ion-label>
  <ion-input inputmode="email" type="email" placeholder="joao.silva@exemplo.com" maxlength=30 minlength=12></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Telefone para contato</ion-label>
  <ion-input inputmode="tel" type="tel" placeholder="xxx-xxxxx-xxxx" maxlength=12 minlength=12></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating" >Categoria</ion-label>
  <ion-select placeholder="Escolha uma categoria">
    <ion-select-option value="balada">Balada</ion-select-option>
    <ion-select-option value="amigos">Amigos</ion-select-option>
    <ion-select-option value="familia">Família</ion-select-option>
    <ion-select-option value="casamento">Casamento</ion-select-option>
    <ion-select-option value="casual">Casual</ion-select-option>
    <ion-select-option value="diversos">Diversos</ion-select-option>
    <ion-select-option value="piquenique">Piquenique</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label position="floating">Data do evento</ion-label>
  <ion-datetime display-format="DD/MM/YYYY  HH:mm" placeholder="xx/xx/xxxx xx:xx"></ion-datetime>
</ion-item>
<ion-item>
<ion-label position="floating" >Descrição do Evento</ion-label>
  <ion-textarea maxlength=350 minlength=145 ></ion-textarea>
</ion-item>
<ion-item>
  <ion-label position="floating">Fotos do evento</ion-label>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-slides mode="md" scrollbar="md">
          <ion-slide class="slide1">
            <p></p>
          </ion-slide>
          <ion-slide class="slide2">
            <p></p>
          </ion-slide>
          <ion-slide class="slide3">
            <p></p>
          </ion-slide>
          <ion-slide class="slide4">
            <p></p>
          </ion-slide>
          <ion-slide class="slide5">
            <p></p>
          </ion-slide>
          <ion-slide class="slide6">
            <p></p>
          </ion-slide>
          <ion-slide class="slide7">
            <p></p>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
</div>
 </ion-content>
 <ion-content>
<p class="center">
  <ion-button routerLink="/home" routerDirection="root">
    Criar
    <ion-icon slot="icon-only" name="log-in"></ion-icon>
  </ion-button>
</p>
</ion-content>
