  ion-toolbar {
    --background: rgb(161,27,164);
    --background: linear-gradient(90deg, rgba(161,27,164,1) 0%, rgba(79,11,134,1) 100%);
    --color: #ffffff;
  }

  .daily-scenary-avatar{
    width: 40px;
    height: 40px;
  }
  