<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalhes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <ion-card-content>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto" class="ion-margin-end">
        </ion-col>
        <ion-col>
          <h1>{{item.name}}</h1>
          <h2>{{item.preco}}</h2>
          <h2>{{item.quantidade}}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="close()" expand="block" [routerLink]="['/edit/', contact.username]">
            <ion-icon slot="start" name="create"></ion-icon>
            Editar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>