<ion-content>
  <ion-header >
    <ion-toolbar>
      <ion-title size="large"> Parceiros </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar [(ngModel)]="queryText" (ionChange)="getItens($event)" ></ion-searchbar>
  <div  class="opacity">
    <ion-card no-lines *ngFor="let partiner of partiners" [style.background-image]="'url('+partiner.image+')'" class="partiner">
      <ion-card class="notborder">
        <ion-card-header >
          <ion-card-subtitle >{{partiner.category}}</ion-card-subtitle>
          <ion-card-title>{{partiner.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>

  </div>
</ion-content>