

ion-card {
  --background: #ffffff00 !important;
  --color: #ffffff !important;
}

ion-card-title {
  --color: #ffffff;
}

ion-card-subtitle {
  --color: #ffffff;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


ion-toolbar {
  --background: rgb(161,27,164);
  --background: linear-gradient(90deg, rgba(161,27,164,1) 0%, rgba(79,11,134,1) 100%);
  --color: #ffffff;
}
.notborder{
  box-shadow: none;
  border: none !important;
  background-color: rgba($color: #42404015, $alpha: 0.5);
}


.partiner{
  background-position: center;
  background-size: cover;
}
