<ion-content color="tertiary">
  <ion-header >
    <ion-toolbar color="primary">
      <ion-title size="large"> Parceiros </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="opacity">
    <ion-card class="partiner1">
      <ion-card class="notborder">
        <ion-card-header>
          <ion-card-subtitle>Balada</ion-card-subtitle>
          <ion-card-title>Nigth Party</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>
    <ion-card class="partiner2">
      <ion-card class="notborder">
        <ion-card-header>
          <ion-card-subtitle>Amigos</ion-card-subtitle>
          <ion-card-title>Vivenda Friends</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>
    <ion-card class="partiner3">
      <ion-card class="notborder">
        <ion-card-header>
          <ion-card-subtitle>Família</ion-card-subtitle>
          <ion-card-title>Chacara Encantada</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>
    <ion-card class="partiner4">
      <ion-card class="notborder">
        <ion-card-header>
          <ion-card-subtitle>Casamento</ion-card-subtitle>
          <ion-card-title>Sítio dos Ponbinhos</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>
    <ion-card class="partiner5">
      <ion-card class="notborder">
        <ion-card-header>
          <ion-card-subtitle>Casual</ion-card-subtitle>
          <ion-card-title>Funny Party</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>
    <ion-card class="partiner6">
      <ion-card class="notborder">
        <ion-card-header>
          <ion-card-subtitle>Balada</ion-card-subtitle>
          <ion-card-title>House Music</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>
    <ion-card class="partiner7">
      <ion-card class="notborder">
        <ion-card-header>
          <ion-card-subtitle>Diversos</ion-card-subtitle>
          <ion-card-title>Happy Birthday</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>
    <ion-card class="partiner8">
      <ion-card class="notborder">
        <ion-card-header>
          <ion-card-subtitle>Família</ion-card-subtitle>
          <ion-card-title>Smile House</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>
    <ion-card class="partiner9">
      <ion-card class="notborder">
        <ion-card-header>
          <ion-card-subtitle>Balada</ion-card-subtitle>
          <ion-card-title>Forrozin</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>
    <ion-card class="partiner10">
      <ion-card class="notborder">
        <ion-card-header>
          <ion-card-subtitle>Casamento</ion-card-subtitle>
          <ion-card-title>Marrige Studio</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>
  </div>
</ion-content>