  <ion-content>
    <ion-header >
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button>
            <a href="/home/meu-perfil" class="color">
              <ion-avatar class="daily-scenary-avatar">
                <img class="daily-scenary-picture" src="https://randomuser.me/api/portraits/women/33.jpg" alt="">
              </ion-avatar>
            </a>
          </ion-button>
        </ion-buttons>
        <ion-title size="large"> Pagamentos </ion-title>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  
    <ion-menu contentId="menu-content" side="start" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="home"></ion-icon>
            <a href="/home" class="color">Home</a>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="calendar"></ion-icon>
            <a href="/home/meus-eventos" class="color">Meus eventos</a>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="people-circle"></ion-icon>
            <a href="/home/parceiros" class="color">Parceiros</a>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="person-circle"></ion-icon>
            <a href="/home/meu-perfil" class="color">Meu Perfil</a>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="receipt"></ion-icon>
            <a href="/home/lista-de-amigos" class="color">Lista de amigos</a>
          </ion-item>    
          <ion-item>
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <a href="/login" class="color">Logout</a>
          </ion-item>    
        </ion-list>
      </ion-content>
    </ion-menu>
  
  


<ion-content class ="ion-padding">
<ion-router-outlet id="menu-content"></ion-router-outlet>
<h1>
  <strong>
    COVID-19
  </strong>
</h1>
  <ion-button expand="block" (click)="showModalOne()">Cartão de Crédito</ion-button>
  <ion-button expand="block" (click)="showModalTwo()">Boleto Bancario</ion-button>
</ion-content>