<ion-content>
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button>
          <a href="/home/meu-perfil">
            <ion-avatar class="daily-scenary-avatar">
              <img class="daily-scenary-picture" src="https://randomuser.me/api/portraits/women/33.jpg" alt="">
            </ion-avatar>
          </a>
        </ion-button>
      </ion-buttons>
        <ion-title size= "auto"> Parceiros </ion-title>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-menu contentId="menu-content" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="home"></ion-icon>
          <a href="/home" class="color">Home</a>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="calendar"></ion-icon>
          <a href="/home/meus-eventos" class="color">Meus eventos</a>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="add-circle"></ion-icon>
          <a href="/home/criar-festa" class="color">Criar Festa</a>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person-circle"></ion-icon>
          <a href="/home/meu-perfil" class="color">Meu Perfil</a>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="receipt"></ion-icon>
          <a href="/home/lista-de-amigos" class="color">Lista de amigos</a>
        </ion-item>    
        <ion-item>
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <a href="/login" class="color">Logout</a>
        </ion-item>    
      </ion-list>
    </ion-content>
  </ion-menu>
  

<ion-router-outlet id="menu-content">
  
</ion-router-outlet> 
  <ion-searchbar [(ngModel)]="queryText" (ionChange)="getItens($event)" ></ion-searchbar>
  <div  class="opacity">
    <ion-card no-lines *ngFor="let partiner of partiners" [style.background-image]="'url('+partiner.image+')'" class="partiner">
      <ion-card class="notborder">
        <ion-card-header >
          <ion-card-subtitle >{{partiner.category}}</ion-card-subtitle>
          <ion-card-title>{{partiner.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card>
  </div>
</ion-content>