<ion-header>
  <ion-toolbar>
    <ion-title>Boleto Bancario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label>Nome Completo</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label>CPF</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label>Data de Nascimento</ion-label>
  <ion-datetime displayFormat="DD MM YY" placeholder="Select Date"></ion-datetime>
</ion-item>

<ion-content>
  <ion-button (click)="close()">Fechar</ion-button>
</ion-content>