<ion-header >
  <ion-toolbar>
    <ion-title>
      Lista de amigos
    </ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-menu contentId="menu-content" side="start" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="home"></ion-icon>
        <ion-router-link href="/home" class="color">Home</ion-router-link>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="calendar"></ion-icon>
        <ion-router-link href="/home/meus-eventos" class="color">Meus eventos</ion-router-link>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="add-circle"></ion-icon>
        <ion-router-link href="/home/criar-festa" class="color">Criar Festa</ion-router-link>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="people-circle"></ion-icon>
        <ion-router-link href="/home/parceiros" class="color">Parceiros</ion-router-link>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="person-circle"></ion-icon>
        <ion-router-link href="/home/meu-perfil" class="color">Meu Perfil</ion-router-link>
      </ion-item>   
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content class="ion-padding">
  <ion-router-outlet id="menu-content"></ion-router-outlet>
<ion-content>


<ion-list>

  
  <ion-item>
    <ion-label>Claudio Uam</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Marcela Box Trade</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Necropsycho</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Marambá</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Cinder</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Audioacoustique</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Toadstool</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Trypo</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>NN</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Aquele amigo</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>O outro</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>lUDO</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>bABY</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>nn 2</ion-label>
  </ion-item>
</ion-list>

</ion-content>